<div class="center" style="margin-top: 20px">
    <a href="./manageCustomer" class="waves-effect btn-block waves-light btn">Manage Customer</a>
    <a href="./createCustomer" class="waves-effect btn-block waves-light btn">Create Customer</a>
</div>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <h2>Create Customer</h2>
        <div class="col s12">
            <form action="">
                <div class="row">
                    <div class="input-field col s6">
                        <input autocomplete="off" id="ssnid" name="ssnid" type="text">
                        <label for="ssnid">Enter SSNID</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input autocomplete="off" id="name" name="name" type="text">
                        <label for="name">Customer Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input autocomplete="off" id="dob" name="dob" type="text">
                        <label for="dob">Date Of Birth (DD-MM-YYYY)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input autocomplete="off" id="address" name="address" type="text">
                        <label for="name">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input autocomplete="off" id="city" name="city" type="text">
                        <label for="name">City</label>
                    </div>
                    <div class="input-field col s4">
                        <input autocomplete="off" id="state" name="state" type="text">
                        <label for="name">State</label>
                    </div>
                    <div class="input-field col s4">
                        <input autocomplete="off" id="pincode" name="pincode" type="text">
                        <label for="name">Pincode</label>
                    </div>
                </div>

                <div class="input-field col s2">
                    <input type="submit" class="btn" name="submit" id="search" value="Create">
                </div>
            </form>

        </div>
    </div>
</div>
