$def with (page)
$var css: https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css static/css/style.css
$var js: https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js static/js/init.js

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking App</title>
    $if self.css:
        $for style in self.css.split(" "):
            <link rel="stylesheet" href="$style">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">My Bank</a>
        $if sessions['user']!= None:
            <ul class="right">
                <li class="white-text">Hi $sessions['user'].loginid</li>
                <li><a href="/logout" id="logoutBtn" class="btn red white-text">Logout</a></li>
            </ul>
    </div>
  </nav>
<div id="app" class="center">
    $:page
</div>
$if self.js:
    $for script in self.js.split():
        <script type="application/javascript" src="$script"></script>
</body>
</html>