<div class="center" style="margin-top: 20px">
    <a href="./manageCustomer" class="waves-effect btn-block waves-light btn">Manage Customer</a>
    <a href="./createCustomer" class="waves-effect btn-block waves-light btn">Create Customer</a>
</div>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <h2>Manage Customer</h2>
        <div class="col s12">
            <form action="">
                <div class="row">
                    <div class="input-field col s10">
                        <input autocomplete="off" id="searchid" name="searchid" type="text">
                        <label for="searchid">Enter SSNID, Customer ID, Account Id</label>
                    </div>
                    <div class="input-field col s2">
                        <input type="submit" class="btn" name="submit" id="search" value="Search">
                    </div>
                </div>
            </form>
            <div class="col s12">
                <h3 class="center">All group1 customer records/ search records</h3>
            </div>
        </div>
        $sessions['user']
    </div>
</div>
